body{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}

.brandName{
    width: 100px;
    height: 30px;
    background-color: black;
}
.searchBar{
    background-color: #8c0e0e;
    border-color: #8c0e0e;
}

.plainRow{
    width:100%;
   min-height:50px !important;
}


@media only screen and (min-width: 600px) {
    .langBg{
        background-image: url("images/bgLandDesk.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .cardContent{
        width:20rem;
        border-color: white;
        border-width: 10px;

    }
    .cardBody{
        padding: 100px;
        padding-left: 150px;
        padding-right: 150px;

    }
    .card1{
        background-color: #35d3b4;
    }
    .card2{
        background-color: #1b2191;
    }
    .card3{
        background-color: #d822ee;
    }
    .rowCard1{
        position: absolute;
        top:350px;
        left: 200px;
    }
    .rowCard2{
        position: absolute;
        top:350px;
        left: 530px;
    }
    .rowCard3{
        position: absolute;
        top:350px;
        left:860px;
    }
    .footer {
        position: relative;
        left: 0;
        top: 200px;
        width: 100%;
        color: white;

    }
    .imgTank{
        position: absolute;
        top: 200px;
        right: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .brandName{
        width: 50px;
        height: 50px;
        background-color: black;
    }
    .langBg{
        background-image: url("images/B&W_bg.jpg");
    }
    .cardDisplay{
        display: none;
    }
    .card1{
        background-color: #35d3b4;
    }
    .card2{
        background-color: #1b2191;
    }
    .card3{
        background-color: #d822ee;
    }
    .card4{
        background-color: #057BAD;
    }
    .imgTank{
        position: absolute;
        top: 400px;
        left: 50px;
    }
}
.black{
    font-weight: 900;
}
.regular{
    font-weight: 400;
}

.light{
    font-weight: 300;
}

.cardCanter{
    margin-left: 300px;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
